.counter{
    color: brown;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.count{
    text-align: center;
}

.App{
    text-align: center;
    background-color: blanchedalmond;
    height: 100vh;
    padding-top: 10rem;
  }
  .text-danger{
    font-size: 1.5rem;
    font-weight: bold;
  }