.form-wrapper{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.signup-form{
    display: flex;
    flex-direction: column;
    padding: 5%;
    border: 1px solid #ccc;
    border-radius: 15px;
}

input {
    margin-bottom: 25px;
    padding:2% 5%;
}

.text-danger {
    font-size: 15px;
}