@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@200&display=swap');

.item {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    padding: 1rem;
}

.brand {
    text-decoration: none;
    font-family: 'Lobster', cursive;
    font-size: 2rem;
}

.brand:hover {
    color: #05070a !important;
    font-weight: 900;
}

.navbar-collapse {
    margin-left: 2%;
}

.cart-info {
    cursor: pointer;
    display: flex;
    margin: 0;
    gap: 1rem;
}

.cart-info:hover,
.navbar-nav a:last-child:hover {
    color: #0d6efd;
}

.navbar-nav a:last-child {
    margin-left: 40vw;
    text-decoration: none;
    color: black;
}

.icon {
    margin-top: 1rem;

}

.item:last-child {
    padding: .2rem;
    /* margin-left: 10rem !important; */
    float: right;
}

.navbar-nav a,
.container a {
    /* background-color: black; */
    color: black;
    /* box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, .2); */
}

.navbar.active,
.navbar.active .container a {
    background-color: rgb(46, 99, 121);
    color: wheat;
    /* font-family: 'Lobster', cursive; */
}


.navbar.active .container a:hover {
    color: black;
}

/* .active .container a {
    background-color: black;

} */

.navbar-nav {
    margin-right: 0 !important;
    /* width: 100vw; */
}

@media (max-width: 990px) {
    .navbar .navbar-nav a:last-child {
        margin-left: 2rem;
    }

    .navbar .navbar-nav a {
        width: fit-content;
    }
}

@media (max-width:990px) {
    .navbar {
        display: none;
    }
}

@media(max-width:1200px) {
    .item {
        font-size: 1rem;
    }
}