body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
#root {
  width: 100vw;
  background-color: rgb(217, 236, 252);
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  flex: 1%;
}

.form-container,
.cart {
  flex: 100%;
}

.contact-footer {
  flex: 100%;
}